{{ define "main" }}
    <section class="page-intro">
        <h1>{{ .Title }}</h1>
        {{ with .Content }}
            <div class="page-copy">{{ . }}</div>
        {{ end }}
    </section>

    <ul class="post-list">
        {{ range .Pages.ByDate.Reverse }}
            <li class="post-row">
                <time class="post-row__date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2" }}</time>
                <a class="post-row__title" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
        {{ end }}
    </ul>
{{ end }}
